
.bgimg-1, .bgimg-2, .bgimg-3 ,.bgimg-4{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('images/do2.jpg');
  height: 100%;
  width: 100%;
  background-position: top;

}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("images/do.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("images/do5.jpg");
  min-height: 400px;
}
.bgimg-4 {
  background-image: url("images/do3.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
   .bgimg-1,.bgimg-2, .bgimg-3,.bgimg-4 {
    background-attachment: scroll;
    min-height: 400px;
  }

@media only screen and (max-device-width: 769px) {
   .bgimg-1,.bgimg-2, .bgimg-3,.bgimg-4 {
    background-attachment: scroll;
    min-height: 150px;
  }
}

.w3-btn {width:150px;}


.form1{
  margin: 0;
  min-height: 500px;
}



.about_1{
font-size: 20px;
}
.about_2{
  font-size: 15px;
}
.call{
  font-size: 25px;
}
.pro{
  font-size: 35px;
}
.pro_row{
  min-height: 600px; width: 100%;
}
.pro_div{
  width:50%;
}
.pro_f{
  font-size: 35px;
}
.abt_img{
   width:250px; 
   height:150px;
}
.contact_id{
  margin-top: 30px; position: relative;
}
.map{
  border:2;
   width:300px;
    height:300px;
}
.contact_txt{
  font-size: 20px;
  margin-top: 0;
  width: 50%;
  margin-left: 10%;
}
.get_in_t{
margin: 10px; margin-left: 15%; font-size: 30px;
}
.form_div{
margin: 30px; margin-left: 20%; padding: 0;
}
.input_box{
  font-size: 15px; height: 50px; width: 300px;

}
.abt_btn{

}
.abt_h{
  font-size: 35px;
  margin-top: 10%;
}
.slogan{

}
.dotype{
  height: 130px;
  width: 100px;
}
.dotype1{
  height: 300px;
  width: 150px;
}
@media only screen and (max-device-width: 769px) {
   
.about_1{
font-size: 15px;
text-align: center;
}
.about_2{
  font-size: 10px;
}
.call{
  font-size: 18px;
}
.pro{
  font-size: 15px;
  text-align: center;
}
.pro_btn{
  font-size: 15px;
  width: 150px;

}
.pro_txt_h{
font-size: 10px;
}
.pro_txt{
font-size: 10px;
}
.pro_row{
  min-height: 300px;
}
.pro_div{
  width:80%;
}
.pro_f{
  font-size: 20px;
}
.abt_img{
   width:100px; height:50px;
}
.contact_id{
  margin-top: 300px;
   position: relative;
}
.map{
  margin-left: 2%;
  margin-top: 0px;
  border:1;
 
}
.contact_txt{
  font-size: 15px;
  margin-left: 0; 
  width: auto;
}
.get_in_t{
margin: 0;
 font-size: 20px;
 margin-left: 20%;
 margin-bottom: 10%;
}
.form_div{
margin: 0px;  
padding: 0;
margin-left: 20%;
}
.input_box{
  font-size: 10px; height: 35px; width: 200px;

}
.abt_btn{
   font-size: 15px;
  width: 150px;
  margin:0;
  margin-left: 20%;
}
.abt_h{
  font-size: 25px;

}
.pro_do{
  width: 50%;
}
.slogan{
  position: relative;
  width: 70%;
  text-align: center;
  margin-right: 10%;
  margin-left:15%; 
  margin-top: 5%;
  margin-bottom: 0;
  font-size: 15px;
}


}



/*-------------------------------*/
.spinner {
position: absolute;
top: 48%;
left: 48%;
  width: 40px;
  height: 40px;
  
}

.cube1, .cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
.spinner-wrapper {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: skyblue;
z-index: 999999;
}
/*<div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>*/





/*##############################################PRODUCTS PAGE######################################################*/


.DS{
  font-size: 40px;
  color: brown;
  padding: 64px;
  padding-bottom: 5px;
  
}
.DS_h{
   font-size: 25px;
  color: brown;
  padding-bottom: 16px;
}
@media only screen and (max-device-width: 769px) {

  .DS{
  font-size: 15px;
   padding: 5px;
 
}
.DS_h{
   font-size: 12px;
  color: brown;
  padding-bottom: 2px;
}
}