@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
body{
	overflow-x: hidden; 
	font-family: 'Lato', sans-serif;
	color: #505962;
		

}
.offset:before{
	height: 3.65rem;
	margin-top: -3.65rem;
	content: "";
	display: block;
}



}
.jumbotron{
	border-radius: 0;
	padding: 3rem 0 2rem;
}
h3.heading{
	font-size: 1.9rem;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 1.9rem;

}/*
.heading-underline{
	width: 4rem;
	height: .2rem;
	background-color: #1ebba3;
	margin: 0 auto 2rem;


}*/

/*---contact--*/
	footer {
		
		color: white;
		padding: 2rem 0 3rem;
		margin-top: 1rem;

	}
	footer img {
		height: 3rem;
		margin: 1.5rem 0;

	}

	footer a{
		color: white;
	}

	footer svg.svg-inline--fa{
		font-size: 1.6rem;
		margin: 1.2rem .5rem 0 0;
	}
	footer svg.svg-inline--fa:hover {
		color: #1ebba3;
	}

	hr.socket{
		border-top: .2rem solid #666b71;
		width: 100%;
	}
/*--media--*/
@media(max-width: 767px){

	.centered h1{
	font-size: 2rem;
	
	letter-spacing: .15rem;
	
	padding-bottom: .5rem;

}

	.centered h3{
	font-size: 1.2rem;
	
	letter-spacing: .15rem;
	
	padding-bottom: .2rem;

}
.centered{
	margin-left: 1%;
	margin-right: 1%;
	letter-spacing: .1rem;
	padding-bottom: .5rem;
	
	

}

	.centered h2{
		font-size: 1.5rem;
		letter-spacing: .15rem;
		padding-bottom: .2rem;

}
	.centered h4{
		font-size: .9rem;
		letter-spacing: .15rem;
		padding-bottom: .5rem;
		
}
 
.middle h3{
	position:absolute;
	
	
	font-size: .75rem;
	border-width: .05rem;
	margin-bottom: 2%;
    padding: .5rem;
	 border-radius: 1rem;
	    min-width: 10px;
	    border-style: solid;
    left:-10%;
    top: 80%; 
    
}

}

.narrow h1{
	font-size: 1.5rem;
}

}

/*============= COURSE SECTION =============*/

.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}


.color{
	color:  #2f2f1d;
	
}



/*map*
#map{
  height: 450px;
  width: 88%; 
  border-radius: 10px 0px;
   border: 1px solid black ;
   box-shadow: 3px 0px 3px;
   left: 5%;
}*/
@media only screen and (max-width: 400px)
{
       #map
       {
right:5%;        left: 5%;
       }
    
}

@media only screen and (max-width: 400px)
{
    h2
    {
      font-size: 30px;
    }

}
h2
{
  font-size: 70px;font-family: Delicious; src: url('Delicious-Roman.otf');
}
/* map end*/

@media(max-width: 767px)
{
	.scene
	{
		width:device-width;
	}

	.carousel_cell
	{
		width: device-width;
	}
}






.centered {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: .2rem;
 margin-right: 8%;
  font-size: 30px;
  top: 20%;
  margin-left: 9%;
  color: black;
  
  position: absolute;

 }
.pad{
	padding-bottom: 1rem;
}
.pad1{
	padding-bottom: .1rem;

}

.middle{
	position: absolute;
	margin-top: 5%;
	margin: auto;
	margin-left: 42%;
	
	
}
.btnn{
	
	background: none;
	border-width: 2px;
	border-color: black;
	border-style: none;
	font-family: "montserrat",sans-serif;
	padding: 5px 5px;
	min-width: 200px;
	margin: 2px;
	cursor:pointer;
	transition: color 0.4s linear;
	position: absolute;

margin-bottom: 5%;
    color: black;
    border-radius: 1rem;
	
	
}
.btnn h3{
		border-width: 2px;
	border-color: black;
	border-style: solid;
	border-radius: .75rem;
	padding: 5px 5px;
}

.color1{
	color: white;
}

/*btn hover not working*/
/*
.btnn h3:hover {
	
	color: #fff;

}
.btnn h3::before
{
	content: '';
	position: absolute;
	width: 100%;
	left:0;
	top: 0;
	height:100%;
	background-color: #000;
	z-index: -1;
	transition: transform 0.5s;
	transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.btnn1 h3::before{
		transform: scaleX(0);
}
.btnn1 h3:hover::before{
	transform: scaleY(1);
}*/




/*#particles-js
{
	width: 100%;
	height: 100vh;
background-repeat:no-repeat;
background-image:url('data1/7.jpg');

background-size:cover;
background-position:50% 50%;
}

@media screen and (max-width:600px)
{
  #particles-js
  {
    background-size:cover;
    background-position:center;
  }
}

canvas.particles-js-canval-el{
	position: absolute;
	top: 0;
	width: 100%;
	height:100%;
}*/
/*
#particles-js {
  width: 100%;
  height: 100%;
  background-size:cover;
 
  background-image:url('data1/6.jpg');
   background-repeat:repeat-y;
    background-position: 50% 50%;
}

canvas.particles-js-canvas-el {
	top:0;
	position: static;
	width: 100%;
  height: 100%;

}*/
/*
#part{
	  background-image:url('data1/6.jpg');
	  width: 100%;
  height: 100%;
  background-repeat:repeat-y;
    background-size:cover;

    background-position: 50% 50%;
}
#map{
  height: 450px;
  width: 88%; 
  border-radius: 10px 0px;
   border: 1px solid black ;
   box-shadow: 3px 0px 3px;
   left: 5%;
   z-index:99;
}*/


